<%- include('partials/header', { title: 'Payment Success', user: user }) %>
<%- include('partials/nav', { user: user }) %>

<div class="order-history">
<h1>Order History</h1>
<ul>
  <% orders.forEach(order => { %>
    <li>
      <a href="/orders/<%= order._id %>">Order with <%= order.seller.name %> - #<%= order.totalPrice %></a>
      - <%= order.paymentStatus === 'Completed' ? 'Completed' : 'Pending Payment' %>
    </li>
  <% }) %>
</ul>

<a href="/">Back to Home</a>
</div>

<%- include('partials/footer') %>